.cmap-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cmap-canvas {
  display: block;
  // width: 100%;
  // height: 100%;
  width: 800px;
  height: 800px;
  border: 1px solid gray;
}